@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
// @import "../../../assets/Helpers/Media/Variables";


.heroImgSlider {
    height: 100%;
    width: 100%;
}
.container {
    h2 {
        font-family: 'Lobster', cursive;
    }
    p {
        width: 90%;
        margin: auto;
        color: grey;
    }
}