@import "../../../assets/Helpers/Media/Variables";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



.wrapper {
    width: 100%;
    height: 100%;
    background-color: #567288;

    header {
        width: 100%;
        display: flex;
        img {
            display: flex;
            width: 100%;
            height: 100%;
        }
        h1 {
            display: flex;
            justify-content: center;
            top: 0;
            width: 60%;

        }
    }
    }
    
    @media (max-width: $breakpoint-desktop) {

        .wrapper {
            header {
                h1 {
                    display: none;
                }
            }
        }
    }