@import "../../../assets/Helpers/Media/Variables";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.wrapper {
    margin-top: -1px;

    h1 {
        display: block;
        font-family: 'Lobster', cursive;
    }
}